
/* body styles */

body {
  font-family: 'Open Sans', sans-serif;
  color: #787878;
}

p {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0px;
}

h1 {
  text-align: center;
  color: #ec458b;
  font-size: 4em;
  font-weight: 300;
  margin: 0px;
}

h2 {
  font-size: 2.3em;
  font-weight: 300;
  margin: 0px;
}

h3 {
  color: #666666;
  font-size: 1.3em;
  font-weight: 800;
  margin: 0px 0px 2px 0px;
}

h4 {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0px;
}

h5 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0px;
}

h6 {
  color: #ec458b;
  font-weight: 800;
  font-size: 6em;
  margin: 0px;
}

/* header styles */

header {
  background-color: #404040; 
  width: 100%;
  height: 150px;
  padding: 20px 0px 0px 0px;
}

.header-bold {
  font-weight: 800;
}

.sub-header {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.3em;
  margin: 0px;
}

.sub-header:before, .sub-header:after {
  content: "";
  display: inline-block;
  width: 100px;
  margin: 0px 10px;
  vertical-align: middle;
  border-bottom: 2px solid;
}

/* main styles */

main {
  display: flex;
}

.player-input {
  width: 50%;
  background-color: #f7f7f7;
  padding: 10px;
  min-width: 568px;
  max-width: 768px;
}

.winner-side {
  background-color: #d1d2d4;
  width: 50%;
  padding: 10px;
  border-left: 2px solid #b2b2b2;
}

/* form styles */

.player-form {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
}

label {
  font-size: 1.2em;
}

.input {
  padding: 8px;
  border: 2px solid #e5e5e5;
  margin: 5px 0px 10px 0px;
}

.num-input {
  width: 150px;
}

.name-input {
  width: 300px;
}

.btn {
  background-color: #787878;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  height: 38px;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0px 20px;
  outline: none;
}

.btn:disabled {
  background-color: #d1d2d4;
}

.btn:hover:enabled {
  background-color: #ec458b;
}

.error {
  width: 35px;
  display: none;
  padding-top: 32px;
}

/* range input styles */

.set-range {
  display: flex;
  justify-content: space-between;
}

.range-update {
  margin: 30px 0px 0px 0px;
}

/* challenger input styles */

.min-number, .max-number {
  font-weight: 800;
  color: #666666;
  text-decoration: underline;
}

.challenger-name {
  margin: 20px 0px 0px 0px;
}

.challenger-1-input, .challenger-2-input {
  display: flex;
  justify-content: space-between;
}

.challenger-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.submit-guess, .reset-game {
  margin: 25px 15px 0px 0px;
}

.clear-game {
  margin: 25px 0px 0px 1px;
}

/* latest score styles */

.score-outputs {
  display: flex;
  text-align: center;
  height: 225px;
}

.score-1, .score-2 {
  flex: 1;
  height: 225px;
}

.vertical{
  height: 200px;
  border-right: 2px solid #e5e5e5;
}

/* winner card styles */

.delete-all-btn {
  display: none;
}

.card {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  margin: 10px 25px;
  padding: 15px;
  border: 2px solid #b2b2b2;
}

.winner-name {
  font-weight: 800;
}

@media screen and (max-width: 768px) {

  body {
    margin: auto;
    min-width: 568px;
  }

  main {
    display: block;
  }

  .player-input {
    width: 100%;
  }

  .winner-side {
    width: 100%;
    min-height: 50px;
  }

